.create {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create h1 {
  font-size: 3rem;
  font-weight: 600;
}


@media screen and (width >= 600px) {
  .create {
  }
}

